<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap">
<div class="page-title highlight">
    <h1>Platinum Cleaning Package</h1>
</div>
<div class="container">
    <div style="width: 100%; text-align: left;">
        <div class="tempoz" style="font-family: Arial, sans-serif; font-size: 35px; color: #333333; display: inline-block;">
            Everything included in the <a href="/standard" style="text-decoration: none; color: rgba(236, 181, 2, 1); font-weight: bold;">Standard Service</a> and
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p><span class="highlight">Laundry:</span></p>
                    <ul>
                        <li><span class="sub-highlight">Full Laundry Service:</span> Sorting, washing, drying, folding, and putting away clothes.</li>
                        <li><span class="sub-highlight">Special Care for Sensitive Garments:</span> Hand-washing or dry cleaning as per your preference.</li>
                        <li><span class="sub-highlight">Optional Eco-friendly Detergents:</span> Use of environmentally friendly or hypoallergenic detergents.</li>
                        <li><span class="sub-highlight">Meticulous Handling:</span> Delicate garments receive special attention to maintain their quality.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/laundry.jpg" alt="Laundry">
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p ><span class="highlight">Fridge Interior Clean:</span></p>
                    <ul>
                        <li><span class="sub-highlight">Comprehensive Cleaning:</span> Thorough cleaning of all interior shelves, drawers, and compartments.</li>
                        <li><span class="sub-highlight">Food-Safe Agents:</span> Use of food-safe cleaning agents for a sanitized and fresh fridge.</li>
                        <li><span class="sub-highlight">Expired Items Removal:</span> Removal and disposal of expired items with client approval.</li>
                        <li><span class="sub-highlight">Final Wipe-Down:</span> Ensuring all areas are sanitized and free from any lingering odors.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/fridge_cleaning.jpg" alt="Fridge Interior Clean">
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p><span class="highlight">Window Sill Cleaning:</span></p>
                    <ul>
                        <li><span class="sub-highlight">Thorough Cleaning:</span> Comprehensive cleaning and wiping down of all accessible window sills.</li>
                        <li><span class="sub-highlight">Specialized Tools:</span> Use of specialized tools to clean corners and hard-to-reach areas.</li>
                        <li><span class="sub-highlight">Spotless Results:</span> Ensuring no spot is missed for a spotless and clean window area.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/window_deep.jpg" alt="Window Sill Cleaning">
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p><span class="highlight">Vents Cleaning:</span></p>
                    <ul>
                        <li><span class="sub-highlight">Air Quality Enhancement:</span> Thorough cleaning of air vents and exhausts for improved indoor air quality.</li>
                        <li><span class="sub-highlight">Vent Interior Washing:</span> Detailed washing of interior areas to remove dust and debris.</li>
                        <li><span class="sub-highlight">Anti-Dust Treatment:</span> Application of an anti-dust treatment to prevent future buildup.</li>
                        <li><span class="sub-highlight">Professional Approach:</span> Professional handling, including removing vent covers for a comprehensive clean.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/vents_cleaning.jpg" alt="Vents Cleaned">
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p><span class="highlight">Exterior Window Cleaning: </span></p>
                    <ul>
                        <li><span class="sub-highlight">Comprehensive cleaning of all exterior window surfaces:</span> Using professional equipment and environmentally safe cleaning agents.</li>
                        <li><span class="sub-highlight">Squeegeeing and wiping down the glass:</span> For a streak-free finish.</li>
                        <li><span class="sub-highlight">Dusting and cleaning of exterior window sills:</span> Removal of cobwebs and debris from window frames.</li>
                        <li><span class="sub-highlight">Cleaning and polishing of window tracks:</span> Ensuring a thorough cleaning process.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/exterior_window_cleaning.jpg" alt="Exterior Window Cleaning">
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p><span class="highlight">Closet Organization:</span></p>
                    <h5 class="sub-highlight">Kids' Closets:</h5>
                    <ul>
                        <li><span class="sub-highlight">Sorting and organizing children's clothes:</span> By size and season.</li>
                        <li><span class="sub-highlight">Folding and hanging items neatly:</span> Includes storage solutions for shoes, toys, and accessories.</li>
                    </ul>
                    <h5 class="sub-highlight">Master Bedroom Closet:</h5>
                    <ul>
                        <li><span class="sub-highlight">In-depth organization of your main closet:</span> Sorting clothes by type and color.</li>
                        <li><span class="sub-highlight">Organizing accessories and shoes:</span> Providing storage solutions to maximize space.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/closet_organization.jpg" alt="Closet Organization">
        </div>
    </div>

    <div class="custom-container">
        <div class="column">
            <div class="section">
                <div class="text">
                    <p><span class="highlight">Pantry Organization:</span></p>
                    <ul>
                        <li><span class="sub-highlight">Detailed organization of pantry items:</span> Categorizing items into sections like canned goods, snacks, and baking supplies.</li>
                        <li><span class="sub-highlight">Identification and separation of expired items:</span> (with client approval).</li>
                        <li><span class="sub-highlight">Restocking items neatly for easy access:</span> Installation of adjustable shelving for better space utilization.</li>
                        <li><span class="sub-highlight">Labeling containers for quick identification of contents:</span> Ensuring a systematic and organized pantry.</li>
                        <li><span class="sub-highlight">Implementing a FIFO system:</span> First In, First Out rotation to prevent expired items.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/home-images/pantry_organization.jpeg" alt="Pantry Organization">
        </div>
    </div>
</div>