<div class="landing-image">
  <div class="landing-content cont">
    <h1 class="company-name2">Welcome to a</h1>
    <h1 class="company-name1">Cleaner Home!</h1>
    <h4 class="company-text">LuxClean is the premier cleaning service in your local area. We offer reliable and high-quality cleaning services across the city.</h4>
    <h4 class="company-number">Call us at +1234567890</h4>
    <span class="book-now-btn" routerLink="/book-now">Book a Service</span>
  </div>
</div>

<div class="about-us-container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="container">
            <div class="box A ml-5"></div>
            <div class="box B shadow p-3 mb-5 bg-white rounded">
              <div class="row box-content">
                <h1 class="first-line">20+</h1>
                <h4 class="first-line">Years of Service</h4>
              </div>
            </div>
            <div class="box C shadow p-3 mb-5 bg-white rounded">
              <div class="row box-content">
                <h1 class="first-line">300+</h1>
                <h4 class="first-line">Happy Clients</h4>
              </div>
            </div>
            <div class="box D"></div>
          </div>
        </div>
        <div class="col-md-6  col-sm-12 about-us-content">
            <h2 class="about-us-heading">___ About us ___</h2>
            <h1 class="service-why-choose-heading">Why will you Choose</h1>
            <h1 class="service-why-choose-subheading">our Services?</h1>
            <p class="service-description">Efficient, Friendly, Residential & Commercial Cleaners. Your Satisfaction is guaranteed.</p>
            <div>
              <label for="checkbox1" class="form-check-label">
                <span id="checkbox1" class="custom-checkbox checked"></span>
                Provide the finest Cleaning Supplies
              </label>
            </div>
            <div>
              <label for="checkbox2" class="form-check-label">
                <span id="checkbox2" class="custom-checkbox checked"></span>
                Professional Floor & Carpet Cleaning
              </label>
            </div>
            <div>
              <label for="checkbox3" class="form-check-label">
                <span id="checkbox3" class="custom-checkbox checked"></span>
                Seamless Communication
              </label>
            </div>
            <div>
              <label for="checkbox3" class="form-check-label">
                <span id="checkbox3" class="custom-checkbox checked"></span>
                Saves your time
              </label>
            </div>
            <div>
              <label for="checkbox3" class="form-check-label">
                <span id="checkbox3" class="custom-checkbox checked"></span>
                7 days a week service
              </label>
            </div>
            <button class="btn btn-warning view-details-btn" routerLink="/service">View Details</button>
        </div>
    </div> 
</div>

<app-faq></app-faq>

<app-reviews></app-reviews>
