<div class="testimonial-slider" style="height: 350px; padding-bottom: 0px">
  <div id="carouselExampleControls" class="carousel carousel-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="padding-left: 0px;">
          <div class="testimonial-title">
            <h2 class="fw-bold display-6" style="font-family: Helvetica;
            color:black;
            font-size: 35px;
            font-weight: 300;
            line-height: 83px;
            letter-spacing: 0em;
            text-align: left;
            ">Customer Reviews</h2>
            <h2 style="font-family: Helvetica;
            font-size: 14px;
            font-weight: 200;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(135, 134, 134, 1)">
              Explore the testimonials from our valued clients who have experienced the LuxClean difference.
              Hear their stories of transformed spaces and unparalleled service.
            </h2>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="col-md-8">
          <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="card" style="height: 220px; width: 280px;">
                
                <div class="card-body" >
                  <p class="card-text">"Sarai was excellent! Very easy to communicate with, proficient, thorough, and a great energy to bring into your personal space. Definitely will be scheduling more appointments. My home smells and looks spotless."</p>

                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <h5 class="card-title">Ashdon O <i class="fa-solid fa-star fa-2xs" style="color: #FFD43B; position: relative; left: 120px"></i><i class="fa-2xs" style="position: relative; left: 123px">5.0</i></h5>
                  
                </div>
              </div>
            </div>
           <div class="carousel-item">
              <div class="card" style="height: 220px; width: 280px;">
               
                <div class="card-body">
                  <p class="card-text">"Sarai was very thorough, great service. I highly recommend her."</p>

                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <br><br><br><br>
                  <h5 class="card-title">Delia Y <i class="fa-solid fa-star fa-2xs" style="color: #FFD43B; position: relative; left: 120px"></i><i class="fa-2xs" style="position: relative; left: 123px">5.0</i></h5>
                </div>
              </div>
            </div>
            <div class="carousel-item" style="">
              <div class="card" style="height: 220px; width: 280px;">
                
                <div class="card-body">
                  <p class="card-text">"Sarai did a wonderful job. Very professional and thorough, and absolutely lovely."</p>

                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <br><br><br>
                  <h5 class="card-title">Daryn O <i class="fa-solid fa-star fa-2xs" style="color: #FFD43B; position: relative; left: 120px"></i><i class="fa-2xs" style="position: relative; left: 123px">5.0</i></h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="height: 220px; width: 280px;">
                
                <div class="card-body">
                  <p class="card-text">"Sarai is absolutely amazing! She goes over and beyond without question. I love the warm peaceful energy she brings with her to my home . She comes in and do her thing every time , I don’t have to say word . She’s the best! Thank you so much for hard work and dedication."</p>

                  <h5 class="card-title">Krystal H <i class="fa-solid fa-star fa-2xs" style="color: #FFD43B; position: relative; left: 120px"></i><i class="fa-2xs" style="position: relative; left: 123px">5.0</i></h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="height: 220px; width: 280px;">
                
                <div class="card-body">
                  <p class="card-text">"Sarai is exceptional. She was very professional, and such a kind person. Would hire her again."</p>

                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <br><br><br>
                  <h5 class="card-title">Reena P<i class="fa-solid fa-star fa-2xs" style="color: #FFD43B; position: relative; left: 120px"></i><i class="fa-2xs" style="position: relative; left: 123px">5.0</i></h5>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="height: 220px; width: 280px;">
                
                <div class="card-body">
                  <p class="card-text">"Nice.... I love her cleaning and she pays keen attention to details.. Definitely going with her next time."</p>

                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <i class="bi bi-star-fill text-warning pe-1"></i>
                  <br><br><br>
                  <h5 class="card-title">Aderonke G<i class="fa-solid fa-star fa-2xs" style="color: #FFD43B; position: relative; left: 116px"></i><i class="fa-2xs" style="position: relative; left: 119px">5.0</i></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing-image">
  <h1 class="company-name1" >Awaken the Brilliance of your Space with LuxClean</h1>
</div> 
